asyncio~=3.4.3

bs4~=0.0.1

ccxt~=2.2.36

flask~=1.1.2

mysql~=0.0.3 # sudo apt-get install libmysqlclient-dev

numpy~=1.21.5

pandas~=1.4.4
pretty_html_table~=0.9.16
#psycopg2~=2.9.5 # pip install psycopg-binary

redis~=4.4.2
requests~=2.28.1

scikit-learn~=1.0.2
seaborn~=0.12.0
selenium~=4.6.0
slack_sdk~=3.19.5
snscrape~=0.4.3.20220106
sqlalchemy~=1.4.39

websockets~=10.4
websocket-client~=1.5.2

yfinance~=0.1.87

falconx~=1.0.4