# RSA private key (biz_privkey) is configured in the audit service, as an alternative, you can use bizPrivKeyPemFile to config your bizPrivKey
bizPrivKey: MIIJRQIBA*******DtGRBdennqu8g95jcrMxCUhsifVgzP6vUyg==
# path to your private key file, pem encoded. BizPrivKeyPemFile priority is higher than bizPrivKey.
bizPrivKeyPemFile: './my_private.pem'
# RSA public key (api_pubkey) is used in the API Key configuration on Safeheron Web Console.
apiPubKey: MIICI****QuTOTECAwEAAQ==